
.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    height:210vh;
    width: 100vw;
    overflow-y:hidden;
    background: linear-gradient(rgba(255,228,196,255) , white);
}
.indicons{
    height: 80px;
    width: 80px;
}
.part-1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#contact-text {
    overflow-y: hidden;
}
.part-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-1{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width:700px;
    height:500px;
}
.contact-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:700px;
    height :500px;
}
.krishnan{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:95%;
    height:300px;
}
.krishnan_icons{
    height:100px;
}
.krishnan h1{
    color:rgb(1, 39, 81);
    margin-left: 30px;

}
.krishnan-pic{
    width:200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 20px;
}

.krishnan-pic:hover {
    width: 220px;
    height: 220px;
    border-radius: 120px;
    border: solid rgb(1, 39, 81) 5px;
}
.linkedin{
    width: 40px;
    height:40px;
    transition: width 0.4s
}
.Github{
    transition: width 0.4s
}
.Instagram{
    transition: width 0.4s
}

.linkedin:hover {
    /*background-color: gray;*/
    width:50px;
    height: 50px;
    border-radius: 5px;
}
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    justify-content:center;
    align-items: center;
    padding-right: 10px;
    height:100px;
}
.icons button{
    margin-left: 10px;
    margin-right: 10px;
    border: none;

}
