

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content:space-around;
    flex-wrap: wrap;
    background:linear-gradient(rgb(111, 40, 8) 0% , rgb(253, 240, 112) 70% );
}

.card {
    background: rgb(1, 39, 81);
    width: 270px;
    height: fit-content;
    margin: 50px 10px 10px 10px;
    text-align: center;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin-top: 40px;
    background-color: rgb(1, 39, 81);
    color:bisque;
}

.card p {
    margin-top: 20px;
    background-color: rgb(1, 39, 81);
    color:bisque
}

.card-image {
    border-radius: 10%;
    height: 150px;
    margin-bottom: 15px;
    overflow-y: hidden;
}

.card-image img {
    border-radius: 10%;
    width: 100%;
}

.card:hover  .card-text {
    background-color: gray;
    color: black;
    transition: .2s ease-in-out;
}

.card:hover {
    background-color: gray;
    width: 280px;
    transition: .2s ease-in-out;
}



.card button {
    margin-top: 50px;
    width: 100px;
    margin-bottom: 10px;
    align-self: center;
    height: 30px;
    border-width: 2px;
    border-radius:20px;
    font-weight: bold;
    background-color: black;
    color:bisque;
    cursor: pointer;
}

#b3 {
    margin-top: 30px;
}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100vw;
    background:linear-gradient(rgb(253, 240, 112) , rgb(255,228,196,255));
    overflow-y: hidden;
}

.box {
    background: rgb(1, 39, 81);
    height: 400px;
    width: 600px;
    border-radius: 25px;
    border: solid rgb(0, 183, 255) 3px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;

}

.txt {
    text-align: center;
    height: 400px;
    width: 50%;
    color: white;
    overflow-y: hidden;
    padding-top: 50px;
    overflow-y: hidden;
}



.img {
    border-radius: 26px 40% 40% 26px;
    height: 100%;
    width: 50%;
    background: white;
    overflow-y: hidden;
}

#box2 .txt{
    text-align: center;
    height: 400px;
    width: 50%;
    color: white;
    overflow-y: hidden;
    padding-top: 50px;
}

#box2 .img {
    border-radius: 40% 26px 26px 40%;
    height: 100%;
    width: 50%;
    background: white;
}

.conclusion-text {
    width: 70vw;
    height: 300px;
    font-size: large;
    overflow-y: hidden;
}

.tools {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 300px;
    overflow-y: hidden;
}

#tool-img {
    width: 33.33%;
    height: auto;
    background: red;
    overflow-y: hidden;

}

#tool-img img{
    width: 100%;
    overflow-y: hidden;
}

.tool2 img{
    height: 100%;
}




  
